<% if flash[:notice] %>
　　<%= flash[:notice] %>
<% end %>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div id="page">
            <header>
                
            </header>
        </div>

        <div id="pagebody1">
            <div class="container1">
                <div class="item1"><div id="home"> <i class="material-icons">home</i>ホーム</div></div>
                <div class="item1">＃話題を検索</div>
                <div class="item1"><i class="material-icons">notifications</i>通知</div>
                <div class="item1"><i class="material-icons">email</i>メッセージ</div>
                <div class="item1"><i class="material-icons">bookmark</i>ブックマーク</div>
                <div class="item1"><i class="material-icons">list</i>リスト</div>
                <div class="item1"><i class="material-icons">person</i>プロフィール</div>
                <div class="item1">もっと見る</div>
                <div class="item1"><div id="tw"><p><%= link_to 'ツイートする',new_tweet_path %></p></div></div>
                <i class="material-icons">face</i>
            </div>
        </div>

        <div id="pagebody2">
            <div class="container2">
                <div class="item2">ツイート</div>
                <div class="item2">ツイート返信</div>
                <div class="item2">メディア</div>
                <div class="item2">いいね</div>
            </div>
        </div>

        <div id="pagebody3">
            <div class="container3">
                <div class="item3">
                    <% @tweets.each do |tweet| %>
                    <p>
                        <%= tweet.message %><br>
                        <%= ((Time.current-tweet.tdate)/60).round %>分前の投稿<br>
                        <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
                        <%= link_to '表示', tweet %>
                        <%= link_to '編集', edit_tweet_path(tweet.id) %>
                    </p>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>

