<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<% if @tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @tweet , url: {action: :create} do |f| %>
  <%= f.label :message, 'メッセージ：' %>
  <%= f.text_field :message %>
  <p>投稿時刻：<%= Time.current %></p>
  <%= f.hidden_field :tdate, value: Time.current %>
  <%= f.submit '登録' %>
<% end %>